body {
    background-color: #0f1117;
    color: #eaeaea;
}

.card {
    background-color: #1c1f26;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.subtitle {
    color: #b0b0b0;
    font-size: 14px;
}
